<!DOCTYPE html>
<html ng-app="angular-vulnd">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ url_for('static', filename='imgs/potion-of-madness-rev.svg') }}">
        <title>Vulnerable Application (JSON XSS)</title>
        
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    
    <body ng-controller="ObjCtrl">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><b>Vulnerable Application</b> (JSON XSS)</a>
            </div>
        </nav>

        <!-- New Object Modal -->
        {% raw %}
        <div class="modal fade" id="newObjModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form ng-submit="newObjSubmit()" id="newObjForm">

                        <div class="modal-header">
                            <h5 class="modal-title">{{ new_obj | safe }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nameInput" class="col-form-label">{{ localization.obj_name | safe }}</label>
                                <input class="form-control" id="nameInput" ng-model="newobj.name" value="{{ newobj.name }}">
                            </div>

                            <div class="form-group">
                                <label for="intInput" class="col-form-label">{{ localization.obj_int | safe }}</label>
                                <input class="form-control" type="number" id="intInput" ng-model="newobj.int" value="{{ newobj.int }}">
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="isTrueCheckbox" ng-model="newobj.bool" value="{{ newobj.bool }}">
                                    <label class="form-check-label" for="isTrueCheckbox">{{ localization.obj_bool | safe }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="newObjSubmitButton" type="button" class="btn btn-success btn-block" type="submit">{{ localization.create | safe }}</button>
                            <button type="button" class="btn btn-outline-dark btn-block" data-dismiss="modal">{{ localization.cancel | safe }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endraw %}

        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <div class="text-center">
                        <img style="width: 200px;" src="{{ url_for('static', filename='imgs/angular-logo.svg') }}" />
                        {% raw %}
                        <p class="h3">{{ localization.app_name | safe }}</p>
                        {% endraw %}
                    </div>
                </div>
            </div>
            {% raw %}
            <div class="container">
                <button class="btn btn-outline-success btn-block" type="button" data-toggle="modal" data-target="#newObjModal">{{ localization.new | safe }}</button>
                <br />
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ localization.obj_id }}</th>
                            <th scope="col">{{ localization.obj_name }}</th>
                            <th scope="col">{{ localization.obj_bool }}</th>
                            <th scope="col">{{ localization.obj_int }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in objects">
                            <th scope="row">{{ obj.id }}</th>
                            <td ng-bind-html="obj.name | safe"></td>
                            <td ng-bind-html="obj.bool | checkmark"></td>
                            <td ng-bind-html="obj.int | safe"></td>
                            <td><div class="btn btn-outline-danger" ng-click="deleteObj(obj.id)">{{ localization.del_obj }}</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endraw %}

            <!-- Placed at the end of the document so the pages load faster -->
            <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="{{ url_for('static', filename='js/angular-app.js') }}"></script>
        </main>
    </body>
</html>