<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ url_for('static', filename='imgs/potion-of-madness-rev.svg') }}">
        <title>Vulnerable Application (JSON XSS)</title>
        
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><b>Vulnerable Application</b> (JSON XSS)</a>
            </div>
        </nav>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <div class="text-center">
                        <img style="width: 200px;" src="{{ url_for('static', filename='imgs/potion-of-madness-trans.svg') }}" />
                    </div>
                    <p>This is a deliberately vulnerable application that uses several popular frontend rendering frameworks to build the user view, which are becoming increasingly common in web applications (like single page apps). The intent is to provide a training ground to learn how to exploit cross-site scripting (XSS) in theese rendering frameworks, and learn what and how attacks work.</p>
                    <p>This was written by TheTwitchy as a testing ground for the <a href="https://www.gitlab.com/TheTwitchy/AXBot9000" target="_blank">AXBot9000</a> tool.</p>
                </div>
            </div>
            <div class="container">
                <a href="/angularjs" class="btn btn-block btn-outline-dark" style="width: 100%;"><div class="text-center"><img class="img-fluid" style="max-height: 50px;" src={{ url_for('static', filename='imgs/angular-logo.svg') }} /> Angular JS</div></a>
                <!--<a href="#" class="btn btn-block btn-outline-dark" style="width: 100%;"><div class="text-center"><img class="img-fluid" style="max-height: 50px;" src={{ url_for('static', filename='imgs/react-logo.svg') }} /> React</div></a>
                <a href="#" class="btn btn-block btn-outline-dark" style="width: 100%;"><div class="text-center"><img class="img-fluid" style="max-height: 50px;" src={{ url_for('static', filename='imgs/vue-logo.svg') }} /> Vue.js</div></a>-->
            </div>

            <!-- Placed at the end of the document so the pages load faster -->
            <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
        </main>
    </body>
</html>